.header {
  background: white;
  border-bottom: 1px solid #ddd;
}

.header-container {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-container h2 {
  margin: 0;
}